<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Recipe Book</a>
		</div>
		<div class="navbar-default">
			<ul class="nav navbar-nav">

				<li><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
				<li><a routerLink="/shopping-list" routerLinkActive="active">Shopping List</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" addDropdown>
					<a href="/" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a >Save Data</a></li>
						<li><a >Fetch Data</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>