<form [formGroup]="ingredientsForm" 
(ngSubmit)="onAddItemToShoppingList()"> 
	<div class="row">
		<div class="col-sm-5 form-group">
			<label for="name">Name</label>
			<input type="text" id="name" formControlName="name" class="form-control">		
		</div>
		<div class="col-sm-2 form-group">
			<label for="amount">Amount</label>
			<input type="text" id="amount" formControlName="amount" class="form-control">			
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<button class="btn btn-success" type="submit" [disabled]="!ingredientsForm.valid">Add</button>
			<button class="btn btn-danger" type="button">Delete</button>
			<button class="btn btn-danger" type="button">Clear</button>
		</div>
	</div>
</form>