<div class="row">
	<div class="col-xs-12">
		<img src="{{ recipes.imagePath }}" class="img-responsive">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>{{ recipes.name }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div addDropdown class="btn-group "> <!-- toggle 'open' -->
		<button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a (click)="addToList()">To Shopping List</a></li>
			<li><a >Edit Recipe</a></li>
			<li><a >Delete Recipe</a></li>
		</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<p>{{ recipes.description }}</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="list-group-item">
		<li *ngFor="let ingredient of recipes.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>		
		</ul>
	</div>
</div>